@media(max-width: 767px) and (min-width: 320px) {

.navbar-brand {
    font-weight: 500;
    font-size: 1.5rem;
}

.navbar-brand img {
    height: 36px;
    width: auto;
}

.navbar {
    min-height: auto;
    padding-top: auto;
    padding-bottom: auto;
    padding-right: 24px !important;
    padding-left: 24px !important;
    margin-bottom: 1rem;
}

.nav-link:hover {
    color: var(--primary-color);
}

.nav-item {
    margin-right: 0;
    margin-left: 0;
}

.navbar-expand-lg .navbar-nav .nav-link .btn, .btn {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    font-size: 1rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    font-size: 1.2rem;
    color: var(--font-color);
}
}